/*
    fieldset layout for wbFormBuilder
*/

form.fbform fieldset {
    float                : left;
    clear                : left;
    width                : 100%;
    margin               : 0 0 1.5em 0;
    padding              : 5px;
    background           : transparent url(fieldset.gif) repeat-x left top;
 	  -moz-border-radius   : 11px;
	  -webkit-border-radius: 11px;
	  border-radius        : 11px;
	  z-index              : 2;
}

form.fbform legend.fbheader {
    margin-left          : 1.5em;
    color                : #000000;
    font-weight          : bold;
    padding              : 15px;
}

form.fbform fieldset ol {
    padding              : 1em 1em 0 1em;
    list-style           : none;
}

form.fbform fieldset li {
    float                : left;
    clear                : left;
    width                : 100%;
    padding-bottom       : 1em;
    text-align           : left;
}

form.fbform fieldset li span {
    padding-left         : 20px;
    width                : 20px;
    height               : 20px;
    min-height           : 20px;
    padding              : 2px;
    display              : inline-block;
}

form.fbform fieldset.fbsubmit {
    border-style         : none;
    float                : none;
    width                : auto;
    border               : 0 none #FFF;
    padding-left         : 30em;
}

form.fbform label.fblabel {
    font-weight          : bold;
    display              : block;
    float                : left;
    width                : 30em;
    margin-right         : 1em;
    text-align           : right;
}

form.fbform input.fbtext,
form.fbform input.fbsubmit,
form.fbform select.fbselect,
form.fbform textarea.fbtextarea
{
    width                : 30em;
    border               : 1px solid #ccc;
    padding              : 3px;
}

form.fbform input.fbdisabled,
form.fbform textarea.fbdisabled
{
    border               : 0;
    background-color     : transparent;
}


form.fbform .fberror {
    display              : block;
    color                : #C00;
    font-size            : 85%;
    font-weight          : normal;
}

form.fbform .fbrequired {
    background           : transparent url(required.png) no-repeat;
    width                : auto;
    padding-left         : 22px;
}

form.fbform .fbicon {
    height               : 20px;
    line-height          : 20px;
    vertical-align       : middle;
}

form.fbform .fbbuttonpane {
    width                : 100%;
}

form.fbform .fbbutton {
    background           : transparent url(button.gif) repeat-x left top;
    height               : 30px;
    border               : 1px outset #606060 !important;
 	  -moz-border-radius   : 8px;
	  -webkit-border-radius: 8px;
	  border-radius        : 8px;
    -moz-box-shadow      : 2px 2px 2px #606060;
	  box-shadow           : 2px 2px 2px #606060;
	  z-index              : 2;
	  behavior             : url(ie-css3.htc);
}