/*******************************************************************************
    wbFormBuilder basic CSS
*******************************************************************************/

@import url(../js/tooltip/form-field-tooltip.css);
@import url(../js/cleditor/jquery.cleditor.css);

fieldset.fbfieldset{margin:15px auto;}
fieldset.fbfieldset legend.fblegend{font-weight:700;}
fieldset.fbfieldset ol{list-style:none;padding:1em 1em 0;}
fieldset.fbfieldset li{float:left;width:100%;padding-bottom:1em;text-align:left;list-style:none;}
fieldset.fbfieldset li span.fbspan20{width:20px;height:20px;min-height:20px;display:block;float:left;padding:2px;}
fieldset.fbfieldset li span span{padding:0;margin-top:-5px;}
fieldset.fbfieldset li span.fbinfotext{height:auto;}
fieldset.fbfieldset li span.fberror,fieldset.fbfieldset li span.fbinfotext{padding-left:5px;width:auto;border:0;}
.fberror{color:#C00;border:1px solid #c00;padding:5px;}
div.fberror,div.fbinfo{text-align:center;margin-bottom:15px;padding:10px;}
div.fbinfo{border:1px solid #060;}
label.fblabel, span.fblabel{font-weight:700;display:block;float:left;width:20em;margin-right:1em;text-align:right;}
input.fbtext,input.fbfile,input.fbsubmit,input.fbpassword,span.fbinfotext,select.fbselect,select.fbmultiselect,textarea.fbtextarea{border:1px solid #ccc;padding:3px;}
select.fbmultiselect{max-height:100px;}
span.fbinfotext{border:none;}
input.fbdisabled,textarea.fbdisabled{border:0 !important;background-color:transparent;}
.fbicon{min-height:20px;vertical-align:middle;margin:20px auto;}
.fbrequired{background:transparent url(required.png) no-repeat center left;padding-left:30px;font-weight:700;}
/*******************************************************************************
    Tooltip
*******************************************************************************/
#DHTMLgoodies_formTooltipDiv{background-color:#fff !important;color:#000 !important;border:1px solid #000;}
#DHTMLgoodies_formTooltipDiv a{color:#000 !important;}
.DHTMLgoodies_formTooltipDiv{padding:5px;}
#DHTMLgoodies_formTooltipContent{margin-bottom:10px;}
.DHTMLgoodies_formTooltip_closeMessage{font-size:0.8em;}
/*******************************************************************************
    jQueryTE WYSIWYG Editor
*******************************************************************************/
div.jqte{float:right !important;}
/*******************************************************************************
    Password Strength Meter
*******************************************************************************/
.is0{background:url(progressImg1.png) no-repeat 0 0;width:190px;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}
.fbtypepassword .poor{color:#f00;}
.fbtypepassword .weak{color:#CC6600;}
.fbtypepassword .ok{color:#00CC99;}
.fbtypepassword .good{color:#009900;}
.fbtypepassword .strong{color:#009900;font-weight:bold;}