/*
    wbFormBuilder Simple Skin
*/

@import url(../formbuilder_default.css);

form, input, select, textarea {margin: 0;padding: 0;}
.fbform fieldset{border:0;}
.fbform ol{border-top:1px solid #aaa;}
label.fblabel,span.fblabel{width:200px;margin-right:auto;}
input.fbtext,input.fbfile,input.fbpassword,select.fbselect,select.fbmultiselect,textarea.fbtextarea{width:370px;}
.fbrequired{background-image:url();}
fieldset.fbfieldset li.fbtypecheckbox span.fbrequired,fieldset.fbfieldset li span span {float:none;}
fieldset.fbfieldset li.fbtypecheckbox span{margin-right: -25px;}
li.fbtypecheckbox input.fbcheckbox{margin-left:260px;}
li.fbtypecheckbox label.fblabel{float:none;}
.fbbuttonpane{border-top:1px solid #aaa;padding-top:25px;}
div.jqte {float:none !important; margin: 0 374px 5px 0 !important;border-color: #aaa !important;}
div.jqte .jqte_tool_label {height:24px !important;}
div.jqte .jqte_source {min-height:15px !important;}