/*
    wbFormBuilder Black Block Skin
    Based on a tutorial found here:
    http://aceinfowayindia.com/blog/2009/06/how-create-good-looking-form-without-table/
*/

@import url(../formbuilder_default.css);

form, input, select, textarea {
  margin: 0;
  padding: 0;
}

fieldset.fbouter {
  border: 0;
}
fieldset.fbfieldset {
  border: 1px solid #4d6680;
  background-color: #ebf4fa;
}

fieldset.fbouter h2 {
    color: #FFF5CC;
    border-bottom: 2px solid #fff5cc;
    font-size: 18px;
    padding: 5px 0 5px 5px;
    margin-left: 20px;
    text-transform: uppercase;
}
fieldset .fbicon {
    margin-left: 20px;
}
fieldset.fbfieldset legend.fblegend span.fblegendleft,
fieldset.fbfieldset legend.fblegend span.fblegendright
{
  display: inline-block;
  width: 100px;
  background: transparent url(left.png) no-repeat left center;
}
fieldset.fbfieldset legend.fblegend span.fblegendright {
  background: transparent url(right.png) no-repeat right center;
}
fieldset.fbfieldset legend.fblegend,
legend.fbheader {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border: 1px solid #4d6680;
  background-color: #b5cce3;
}

fieldset.fbfieldset li {
  width: 100%;
  display: block;
  line-height: 40px;
  vertical-align: middle;
  border-bottom: 3px #4d6680 double;
  padding: 10px 0 10px 0;
}

fieldset.fbfieldset li:last-child {
  border-bottom: 0;
}

fieldset.fbfieldset label.fblabel {
  width: 30em;
}
fieldset.fbfieldset input.fbtext,
fieldset.fbfieldset input.fbpassword,
fieldset.fbfieldset textarea.fbtextarea,
fieldset.fbfieldset select.fbselect,
fieldset.fbfieldset select.fbmultiselect,
fieldset.fbfieldset input.fbfile {
  padding: 5px;
  border: 1px solid #4d6680;
  width: 30em;
  font-size: 1.2em
}
fieldset.fbfieldset select.fbselect,
fieldset.fbfieldset select.fbmultiselect {
  width: 31em;
}
input.fbbutton {
  padding: 4px 7px;
  background: #b5cce3;
  width: 200px;
  margin-right: 15px;
  border: 1px outset #000;
}

.fbbuttonpane {
  margin-top: 30px !important;
  padding-top: 15px;
  text-align: center !important;
}